## [ .gitignore ]

## Liste des fichiers et dossiers à ignorer
_3_software/chkBranch*
chkBranch*.*
Bug_TODOList*.*

#.gitignore

## [ Dossiers a ignorer ]
_3_software/_3-1_test*/
_5_*/
_6_*/
_7_*/
*_v/
__pycache__/


## [ listes des extentions a ignorer ]
*.*~
*.FCStd1
*.264
*.mkv
*.mp4
*.json
Thumbs.db